{% extends "layout.html" %}
{# TODO: Finish page formatting #}
{% block head %}
    <script src="https://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.core.js"></script>
    <script src="https://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.slide.js"></script>
    <script src="https://jquery-ui.googlecode.com/svn/tags/latest/ui/jquery.effects.slide.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".mdl-selectfield__select").blur(function () {
                if (!this.value) {
                    $(this).prop('required', true);
                    $(this).parent().addClass('is-invalid');
                }
            });
            $(".mdl-button[type='submit']").click(function (event) {
                $(this).siblings(".mdl-selectfield").addClass('is-invalid');
                $(this).siblings(".mdl-selectfield").children(".mdl-selectfield__select").prop('required', true);
            });
            $('#requestbtn').click(function () {
                $('#sendrequests, #rangeform, #sentrequests').hide("slide", {direction: "left"});
                $('#requestforms').find('.' + $(this).attr("data-showform")).show("slide", {direction: "right"});
            });
        });
    </script>
{% endblock %}
{% block body %}
    {% if address_form %}
        <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
            {% include "addressform.html" %}
        </div>
    {% endif %}

    {% if groups %}
        <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp">
            <h2>Your groups</h2>
            <ul>
                {% for group in groups %}
                    <li><a href="{{ url_for("group_page", join_id=group.join_id) }}">{{ group.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <h2>Requests</h2>
        {% if range_form %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#range').on('input', function () {
                        $("#rangecont").get(0).MaterialTextfield.change(this.value);
                    });
                    $('#rangeval').keyup(function () {
                        $("#range").get(0).MaterialSlider.change($('#rangeval').val());
                    });
                });
            </script>
            <form method="post" action="{{ url_for("dashboard") }}">
                {{ range_form.csrf_token }}
                <table id="rangeform">
                    <tr>
                        <td>{{ range_form.range.label }}</td>
                        <td>{{ range_form.range(value=query_range, class='mdl-slider mdl-js-slider', min='0', max='15',  step='0.5', type='range') }}</td>
                        <td>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="rangecont"
                                 style="width:40px">
                                <input class="mdl-textfield__input" type="text" id="rangeval"
                                       pattern="(?:15(?:\.0)?|1?[0-9](?:\.[0-9])?|0?\.[1-9])" value="{{ query_range }}">

                                <label class="mdl-textfield__label" for="rangeval">Miles</label>
                            </div>
                        </td>
                        <td><input class="mdl-button mdl-js-button mdl-js-ripple-effect" type="submit"
                                   value="Set Range"></td>
                    </tr>
                </table>
            </form>
        {% endif %}

        {# TODO: Turn into notification / add formatting #}
        <table class="requests">
            {% if requests %}
                {% for req in requests[0].requests %}
                    <tr>
                        <td>
                            {{ req.sender.firstname }} {{ req.sender.lastname }}
                        </td>
                        <td>
                            {% if req.message %}
                                {{ req.message }}
                            {% endif %}
                        </td>
                        <td>
                            <form method="post" action="{{ url_for("dashboard") }}">
                                {{ accept_form.csrf_token }}
                                {{ accept_form.user_origin(value=req.sender.id) }}
                                {{ accept_form.group_id(value=req.group_id) }}
                                <input type="submit" value="Exchange Information"
                                       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if sent %}
                {% for req in sent[0].sentrequests %}
                    <tr id="sentrequests">
                        <td>{{ req.receiver.firstname }} {{ req.receiver.lastname }}</td>
                        <td><input type="button" value="Awaiting Response"
                                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" disabled>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if canidates %}
                {% for canidate in canidates if canidate.email != g.user.email %}
                    <tr id="sendrequests">
                        <td>{{ canidate.firstname }} {{ canidate.lastname }}</td>
                        <td>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                                    data-showform="{{ canidate.id }}"
                                    id="requestbtn">
                                Request Information
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </table>

                <div id="requestforms">
                    {% for canidate in canidates if canidate.email != g.user.email %}
                        <form method="post" action="{{ url_for("dashboard") }}" style="display: none"
                              class="{{ canidate.id }}">
                            {{ request_form.csrf_token }}
                            <p>Sending request to <b>{{ canidate.firstname }} {{ canidate.lastname }}</b></p>
                            <div class="mdl-textfield mdl-js-textfield">
                                {{ request_form.message(size=20, class='mdl-textfield__input', max='140') }}
                                {{ request_form.message.label(class='mdl-textfield__label') }}
                            </div>
                            {{ form_error(request_form.message) }}

                            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                                {{ request_form.group_id(class='mdl-selectfield__select') }}
                                {{ request_form.group_id.label(class='mdl-selectfield__label') }}
                            </div>
                            <span class="mdl-selectfield__error">Please select one</span>
                            {{ form_error(request_form.group_id) }}

                            {{ request_form.user_destination(value=canidate.id) }}
                            {{ form_error(request_form.user_destination) }}

                            <br>

                            <input type="submit" value="Request Information"
                                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                                   style="margin-top:16px">
                        </form>
                    {% endfor %}
                </div>
            {% endif %}
    </div>

{% endblock %}