{% extends "layout.html" %}
{# TODO: Finish page formatting #}
{% block body %}
    {% if address_form %}
        <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
            {% include "addressform.html" %}
        </div>
    {% endif %}

    {% if groups %}
        <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp">
            <h2>Your groups</h2>
            <ul>
                {% for group in groups %}
                    <li><a href="{{ url_for("group_page", join_id=group.join_id) }}">{{ group.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <h2>Requests</h2>
        {% if range_form %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#range').on('input', function () {
                        $("#rangecont").get(0).MaterialTextfield.change(this.value);
                    });
                    $('#rangeval').keyup(function () {
                        $("#range").get(0).MaterialSlider.change($('#rangeval').val());
                    });
                });
            </script>
            <form method="post" action="{{ url_for("dashboard") }}">
                {{ range_form.csrf_token }}
                <table id="rangeform">
                    <tr>
                        <td>{{ range_form.range.label }}</td>
                        <td>{{ range_form.range(value=query_range, class='mdl-slider mdl-js-slider', min='0', max='15',  step='0.5', type='range') }}</td>
                        <td>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" id="rangecont"
                                 style="width:40px">
                                <input class="mdl-textfield__input" type="text" id="rangeval"
                                       pattern="(?:15(?:\.0)?|1?[0-9](?:\.[0-9])?|0?\.[1-9])" value="{{ query_range }}">

                                <label class="mdl-textfield__label" for="rangeval">Miles</label>
                            </div>
                        </td>
                        <td><input class="mdl-button mdl-js-button mdl-js-ripple-effect" type="submit"
                                   value="Set Range"></td>
                    </tr>
                </table>
            </form>
        {% endif %}

        {% if sent %}
            <table class="requests">
                {% for req in sent[0].sentrequests %}
                    <tr>
                        <td>{{ req.receiver.firstname }} {{ req.receiver.lastname }}</td>
                        <td><input type="button" value="Awaiting Response" disabled></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if canidates %}
            {% for canidate in canidates if canidate.email != g.user.email %}
                <form method="post" action="{{ url_for("dashboard") }}">
                    {{ request_form.csrf_token }}
                    <p>{{ canidate.firstname }} {{ canidate.lastname }}</p>
                    {{ request_form.message.label }} {{ request_form.message }}
                    {{ request_form.group_id.label }} {{ request_form.group_id }}
                    {{ request_form.user_destination(value=canidate.id) }}
                    <input type="submit" value="Request Information">
                </form>
                <p>---</p>
            {% endfor %}
        {% endif %}
    </div>

    {# TODO: Turn into notification / add formatting #}
    {% if requests %}
        <h2>Carpool Requests</h2>
        {% for req in requests[0].requests %}
            <p>{{ req.sender.firstname }} {{ req.sender.lastname }}</p>
            {% if req.message %}
                <p>{{ req.message }}</p>
            {% endif %}
            <form method="post" action="{{ url_for("dashboard") }}">
                {{ accept_form.csrf_token }}
                {{ accept_form.user_origin(value=req.sender.id) }}
                {{ accept_form.group_id(value=req.group_id) }}
                <input type="submit" value="Exchange Information">
            </form>
        {% endfor %}
    {% endif %}

{% endblock %}