{% extends "layout.html" %}
{% block body %}
    {# TODO: Fix formatting, find more info to put on page #}
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        {% if access %}
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th>Who</th>
                    <th>Email</th>
                    <th>Address</th>
                </tr>
                </thead>
                <tbody>
                {% for user in group.users %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ user.firstname }} {{ user.lastname }}</td>
                    <td>{{ user.type }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.address }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th>Who</th>
                </tr>
                </thead>
                <tbody>
                {% for user in group.users %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ user.firstname }} {{ user.lastname|truncate(2, True, ".") }}</td>
                    <td>{{ user.type }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}