<!DOCTYPE html>
{% block head %}{% endblock %}
<table>
    <tr>
        {% for message in get_flashed_messages() %}
            <td>
                <span><b>Take Note: </b>{{ message }}</span>
            </td>
        {% endfor %}

        {% for notification in g.user.notifications %}
            <td><b>Notification: </b>{{ notification.message }}</td>
        {% endfor %}

        <td>
            {% if g.user.is_authenticated %}
                <p>Hello, {{ g.user.firstname }}</p>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </td>
    </tr>
</table>
<h1>RideShare Dev</h1>
{% block body %}{% endblock %}