{% from "layout.html" import form_error %}
{% block body %}
    <h2>Login</h2>
    <form method="post" action="{{ url_for("login") }}">
        {{ login_form.csrf_token }}

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ login_form.email(size=20, class='mdl-textfield__input', pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$') }}
            {{ login_form.email.label(class='mdl-textfield__label') }}
            <span class="mdl-textfield__error">Not a valid email</span>
            {{ form_error(login_form.email) }}
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ login_form.password(size=20, class='mdl-textfield__input') }}
            {{ login_form.password.label(class='mdl-textfield__label') }}
            <span class="mdl-textfield__error">Not a valid password</span>
            {{ form_error(login_form.password) }}
        </div>
        <br>
        <input class="mdl-button mdl-js-button mdl-js-ripple-effect" type="submit" value="Login">
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="remember"
               style="width:auto; margin-left: 64px;">
            {{ login_form.remember(class='mdl-checkbox__input') }}
            <span class="mdl-switch__label">Remember Me</span>
        </label>
    </form>
{% endblock %}