{% extends "layout.html" %}
{% block body %}
    <h2>Register</h2>
    <form method="post" action="{{ url_for('register') }}">
        {{ register_form.csrf_token }}
        {{ register_form.username.label }} {{ register_form.username(size=20) }}
        {% if register_form.username.errors %}
            <ul class="errors">{% for error in register_form.username.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ register_form.password.label }} {{ register_form.password(size=20) }}
        {% if register_form.password.errors %}
            <ul class="errors">{% for error in register_form.password.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ register_form.passwordvalidate.label }} {{ register_form.passwordvalidate(size=20) }}
        {% if register_form.passwordvalidate.errors %}
            <ul class="errors">{% for error in register_form.passwordvalidate.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ register_form.email.label }} {{ register_form.email(size=20) }}
        {% if register_form.email.errors %}
            <ul class="errors">{% for error in register_form.email.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {{ register_form.type.label }} {{ register_form.type }}
        {{ register_form.recaptcha.label }} {{ register_form.recaptcha }}
        {% if register_form.recaptcha.errors %}
            <ul class="errors">{% for error in register_form.recaptcha.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <input type="submit" value="Register">
    </form>
{% endblock %}