{% extends "layout.html" %}
{% block body %}
    <h2>Resend Verification Email</h2>
    <form method="post" action="{{ url_for('verify_user') }}">
        {{ verify_form.csrf_token }}
        {{ verify_form.email.label }} {{ verify_form.email(size=20) }}
        {% if verify_form.email.errors %}
            <ul class="errors">{% for error in verify_form.email.errors %}
                <li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        {#  TODO: ADD RECAPCHA BACK  #}
        {#        {{ verify_form.recaptcha.label }} {{ verify_form.recaptcha }}#}
        {#        {% if verify_form.recaptcha.errors %}#}
        {#            <ul class="errors">{% for error in verify_form.recaptcha.errors %}#}
        {#                <li>{{ error }}</li>{% endfor %}</ul>#}
        {#        {% endif %}#}
        <input type="submit" value="Resend Email">
    </form>
{% endblock %}